
src/components/accountHome/menuGrid.jsx
src/components/orders/app.jsx
src/components/accountMenu/IconLabel.jsx
src/components/accountMenu/MenuListItem.jsx
src/components/accountMenu/userInfo.jsx
src/components/accountMenu/signOut.jsx
src/components/accountMenu/menuList.jsx
src/components/orders/delivered.jsx
src/components/orders/inTransit.jsx
src/components/orders/onlineOrders.jsx
src/components/orders/orderDetails.jsx
src/components/orders/orderPlaced.jsx
src/components/orders/orderSummary.jsx
src/components/orders/warehousePurchase.jsx
src/components/orders/warehousePurchases.jsx
src/config/validations.js
src/customHooks/useSkeletonGenerator.jsx
src/utils/CookieHandler.js
src/setupTests.js
src/services/ErrorHandler/ErrorHandler.js
src/components/modal/warehouseReceiptModal.jsx

src/components/ProductCarousel/productCarousel.js
src/components/WarehouseSidebar/components/warehouses.test.jsx
src/components/WarehouseSidebar/components/warehouses.jsx
src/components/WarehouseSidebar/components/locatorForm.jsx
src/components/WarehouseSidebar/components/app.jsx
src/components/WarehouseSidebar/components/filterOptions.jsx
src/components/DeliveryLocation
src/customHooks/useLocation.jsx
src/customHooks/useSkeletonGenerator.jsx
src/utils/CookieHandler.js
src/utils/agent.js

src/**/*.test.js
